.modal {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  max-width: 70rem;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: var(--box-shadow-2);
  animation: openAnimation 1s ease-in-out forwards;
}

@keyframes openAnimation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%; 
}

.container img {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title span {
  font-size: 2rem;
  padding-left: 0.2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-2);
  padding: 0.5rem 1.5rem;
  height: 100%;
  overflow: hidden;
}

.container h2 {
  font-family: var(--type-first);
  color: var(--text-1);
}

.description p {
  font-family: var(--type-first);
  color: var(--gray-3);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
}

.description > p:not(:last-child) {
  padding-bottom: 1rem;
}

.technologies {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.technologies a {
  color: var(--primary-1);
  font-weight: 600;
}

.technologies a:hover {
  color: var(--gray-1);
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 50rem) {
  .container {
    grid-template-columns: 1fr;
  }
  .container img {
    display: none;
  }
}

@media (max-width: 30rem) {
  .description p {
    font-size: 0.875rem;
  }
  .technologies {
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
  }
  .technologies a {
    font-size: 1rem;
  }
}
