.projects {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 3rem;}

.myProjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: 2rem;
}

@media (max-width: 50rem) {
  .project {
    display: flex;
  }
}

@media (max-width: 35rem) {
  .project {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .projects h2 {
    padding: 4rem 0 2rem 2rem;
  }
}
