.skills {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.listSkills > ul:first-of-type {
  padding-bottom: 3rem;
}

@media (max-width: 30rem) {
  .listSkills > ul:first-of-type {
    padding-bottom: 2rem;
  }
}
