.about {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.image {
  height: 340px;
  width: 300px;
  position: relative;
  padding: 2rem 0 0 2rem;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4%;
}

.aboutMe {
  grid-column: 2/-1;
  grid-row: 1/-1;
  padding-left: 2rem;
  padding-top: 3rem;
}

.aboutMe h3 {
  text-align: center;
  padding-bottom: 1.5rem;
}

.aboutMe p {
  font-family: var(--type-first);
  color: var(--text-2);
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.aboutMe span {
  color: var(--gray-2);
  font-family: var(--type-first);
  font-size: 1.25rem;
}

.aboutMe span::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--primary-1);
  border-radius: 50%;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
}

.icons {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.icons a {
  background: var(--background-2);
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: inline-flex;
  transition: 0.4s;
}

.icons a:hover {
  transform: scale(1.2);
}

@media (max-width: 55rem) {
  .about {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .icons {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    justify-content: center;
    padding: 0.5rem;
  }
  .image img {
    border-radius: 50%;
    box-shadow: var(--box-shadow-3);
  }
  .aboutMe {
    grid-row: 2/3;
    grid-column: 1/-1;
    padding-left: 0;
    padding-top: 0;
  }
}

@media (max-width: 30rem) {
  .about {
    padding-top: o;
    padding-bottom: 1rem;
  }
  .image {
    height: 180px;
    width: 180px;
  }
}
