.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding-top: 3.75rem;
}

.iconHello {
  display: flex;
  position: relative;
  gap: 0.25rem;
  align-items: center;
}

.iconHello p{
  font-family: var(--type-first);
  font-size: 1.25rem;
  font-weight: 600;
  background-image: var(--gradient-1);
}

.iconHello span {
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 0.375rem;
  animation: moveIcon 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes moveIcon {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.home h1 {
  font-family: var(--type-second);
  color: var(--text-1);
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}

.home h2 {
  font-size: 1.25rem;
  font-weight: 400;
  padding-top: 1rem;
  text-transform: none;
}

@media (max-width: 30rem) {
  .home {
    padding-top: 2rem;
    align-items: center;
  }
  .iconHello p {
    font-size: 1rem;
    padding-right: 2.5rem;
  }
  .home h1 {
    font-size: 3rem;
  }
  .home h2 {
    font-size: 1rem;
  }
}
