.contact {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.contactList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 5rem 0;
  transition: box-shadow 0.5s ease-in-out;
}

.contactMe {
  font-family: var(--type-first);
  color: var(--text-2);
  background: var(--background-2);
  border-radius: 10px;
  font-weight: 400;
  text-align: center;
  padding: 3rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
}

@media (max-width: 50rem) {
  .contactList {
    gap: 0.5rem;
  }
  .contactMe {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 30rem) {
  .contactList {
    padding: 3rem 0;
  }
  .contact {
    padding-top: 0;
    padding-bottom: 1rem;
  }
}

@media (max-width: 25rem) {
  .contactList {
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
  }
}
