.contact {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.contactList {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: 4rem 0;
  transition: box-shadow 0.5s ease-in-out;
}

.call {
  font-family: var(--type-second);
  color: var(--text-2);
  background: var(--background-2);
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 50rem) {
  .contact h2 {
    padding: 2rem 0 2rem 2rem;
  }
  .contactList {
    gap: 0.5rem;
  }
  .call {
    padding: 1rem 1rem 0;
    font-size: 1rem;
  }
}

@media (max-width: 30rem) {
  .call {
    padding: 0 0;
    font-size: 0.875rem;
  }
}
