.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.list {
  display: inline-block;
  font-family: var(--type-second);
  color: var(--text-2);
  padding-bottom: 0.25rem;
  letter-spacing: 0.06rem;
  font-size: 1.25rem;
  font-weight: 800;
  transition: transform 0.2s, color 0.4s;
}

.list:hover {
  transform: translateY(-6px);
  color: var(--primary-1);
}
