.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.footer p {
  color: var(--gray-2);
  font-family: var(--type-first);
  font-size: 1rem;
}

@media (max-width: 30rem) {
  .footer {
    height: 10vh;
  }
  .footer p {
    font-size: 0.8rem;
  }
}
