.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(2, 6, 23, 0.8);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 1rem;
  font-weight: 200;
  font-family: var(--type-first);
  align-items: center;
}

.list {
  padding: 0.25rem;
  font-size: 1rem;
  color: var(--text-1);
}

.list:hover {
  color: var(--gray-1);
}

.mode {
  display: flex;
  gap: 0.5rem;
  background: var(--gray-4);
  border-radius: 15px;
  padding: 0.25rem;
}

@media (max-width: 45rem) {
  .nav {
    display: none;
  }
}
