.mainContainer {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(2, 6, 23, 0.8);
  top: 0px;
  box-shadow: 0px 1px 5px rgba(168, 57, 255, 0.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 0.6rem;
  font-weight: 200;
  font-family: var(--type-first);
  align-items: center;
}

.list {
  padding: 0.3rem;
  font-size: 1rem;
  color: var(--white);
}

.mode {
  display: flex;
  gap: 0.2rem;
  background: var(--bg);
  border: 1px solid rgb(124, 124, 138, 0.6);
  border-radius: 20px;
  padding: 4px 6px;
}

@media (max-width: 45rem) {
  .nav {
    display: none;
  }
  .logo svg {
    width: 140px;
  }
}
