@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@600&display=swap');

:root {
  --background-1: #020617;
  --background-2: #13131f;
  --text-1: #f5f5f5;
  --text-2: #d6d6d6;
  --text-3: #10002b;
  --gray-1: #7c7c7c;
  --gray-2: #595959;
  --gray-3: #404040;
  --gray-4: #2e2e2e;
  --purple-1: #800ddd;
  --purple-2: #a839ff;
  --purple-3: #b629f8;
  --bg-modal: rgba(2, 6, 23, 0.6);
  --gradient: linear-gradient(to right, #800ddd, #a839ff);
  --box-shadow-1: 0 0 15px rgba(168, 57, 255, 0.7);
  --bg-gradient: linear-gradient(175deg, #0e0919 25%, #653a86 100%);
  --bg-gradient-ligth: linear-gradient(170deg, #653a86 30%, #af7ad8 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: var(--background-1);
  color: var(--text-1);
  --type-first: 'Nunito', Arial, sans-serif;
  --type-second: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 55rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
}

.background-home {
  background: var(--bg-gradient);
}

.paddingTitle {
  padding: 3rem 0 3rem 4rem;
}

.title {
  font-family: var(--type-first);
  color: var(--text-2);
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2rem;
}

@media (max-width: 50rem) {
  .title {
    font-size: 1.5rem;
  }
}

.subTitle {
  font-family: var(--type-first);
  color: var(--gray-1);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
}

@media (max-width: 30rem) {
  .subTitle {
    font-size: 0.875rem;
  }
}

.gradient {
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-40px);
  animation: animeLeft 0.6s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
