@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Playfair+Display:wght@600&display=swap');

:root {
  --bg: #020617;
  --gray: #7c7c8a;
  --white: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 3rem;
  margin: 0px;
  background: var(--bg);
  color: var(--white);
  --type-first: 'Nunito', Arial, sans-serif;
  --type-second: 'Playfair Display', serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 60rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-40px);
  animation: animeLeft 0.6s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.title {
  padding-left: 3rem;
  font-family: var(--type-first);
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}
